@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


:root {
  --dark: #000000;
  --light: #FFFFFF;
  --primary: #1c1c1c;
  --primaryMedium: #232323;
  --secondary: #3FCF8E;
  --secondaryMedium: #3FCF8E;
  --textLight: #99AAB5;
  --textLighter: #C0C0C0;
  --textLightest: #dddddd;
  --textInverted: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}



html,
body,
#__next,
#__next>div {
  background-color: var(--primaryMedium);
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('../public/loader.svg');
  background-position: center;
  background-repeat: no-repeat;
}


button {
  padding: 10px;
  background-color: var(--secondaryMedium);
  outline: none;
  border: none;
}



body {
  background-color: var(--primaryMedium);
}



p {
  color: var(--primaryMedium);
}

a {
  all: unset;
}

.homeMap {
  width: 100%;
  height: 20rem;
}




#__next>.auth-container {
  background-image: url('../public/auth-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container>div {
  background-color: var(--primary);
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
  min-height: 100px;
  min-width: 200px;
}

.auth-container>div * {
  color: white;
}

.auth-container>div input {
  background-color: var(--primaryMedium);
  border-radius: 10px;
  color: white;
}

.auth-container>div button {
  background-color: var(--secondaryMedium);
  border: none;
  border-radius: 10px;
  text-transform: none;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.auth-container>div button:hover {
  background-color: #101010;
  color: #dbdbdb;
}

.auth-container>div span {
  color: #e73c3c;
  text-decoration: underline;
}

.auth-container>div label {
  text-transform: none;
}