@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


:root {
  --dark: #000000;
  --light: #FFFFFF;
  --primary: #222932;
  --primaryMedium: #545f6b;
  --secondary: #C73A33;
  --secondaryMedium: #C73A33;
  --textLight: #99AAB5;
  --textLighter: #C0C0C0;
  --textLightest: #dddddd;
  --textInverted: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}



html,
body,
#__next,
#__next>div {
  background-color: var(--primaryMedium);
  height: 100%;
}

button {
  padding: 10px;
  background-color: var(--secondaryMedium);
  outline: none;
  border: none;
}



body {
  background-color: var(--primaryMedium);
}



p {
  color: var(--primaryMedium);
}

a {
  all: unset;
}

.homeMap {
  width: 100%;
  height: 20rem;
}